*{
    margin: 0px;
    padding: 0px;
    font-family: 'Sora', sans-serif;
    color: black;
}

html, body{
    height: 100%;
    overflow: hidden;
}


#conteudo{
    display: flex;
}

#conteudo-principal{
    margin: 80px 60px 60px 60px;
    width: 105vh;
    height: 100vh;
    /* fundo borrado */
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.493);

}

main{
    width: 120vh;
    height: 100vh;
}

h1{
    font-family: 'Red Hat Text', sans-serif;
    font-size: 60px;
    line-height: 60px;
}

#faq{
    width: 750px;
    height: 560px;
    margin-top: 20px;
}

p{
    margin: 20px 75px 0px 0px;
    line-height: 30px;
    color: #a9a9a9;
}

button{
    margin-top: 40px;
    padding: 12px 33px;
    border: 1px solid white;
    box-shadow: 4px 4px 4px #f2e6fd;
    border-radius: 25px;
    background: #e04d69;
    color: white;
    font-size: 17px;
    margin-bottom: 100px;
}

button:hover{
    font-size: 16px;
    padding: 10px 29px;
    margin: 44px 0px 100px 9px;
    border-radius: 35px;
    transition: 0.5s all;
}

#rodape{
    display: flex;

}

#rodape>h2{
    margin-right: 20px;
}

h2{
    color: rgba(128, 128, 128, 0.911);
    line-height: 30px;
    font-size: 13px;
}

