main{
	margin: 50px 0px;
}

form{
	display:flex;
	flex-direction: column;
	margin: 0px auto;	
}


table{
	margin: 0px auto;
	align-items: left;
	width: 200px 0px;

	/* fundo borrado */
	-webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255,255,255, 0.356);
    
    
    border-radius: 35px;
    width: 800px;
    padding: 14px 40px;
	box-shadow: 6px 6px 3px #d8d2dd;
	
}

th>h1{
	border-bottom: 1px gray solid;
	height: 55px;
}

span{
	margin-top: 5px;
}

#genero{
	display:inline-block;
	margin-top: 5px;

}

.form-botoes{
	margin: 0px;
    padding: 10px;
	border: 1px gray solid;
	border-radius: 10px;
}

#submit-cadastro{
	margin: 0px;
    padding: 10px;
	border: 1px gray solid;
	border-radius: 10px;
	cursor: pointer;
}